# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Environment directories
venv/
env/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE-specific files and directories
.idea/
.vscode/

# OS-specific files and directories
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.swp
*.swo
*~